body{
    background: linear-gradient(90deg,violet,blueviolet);
    padding-top: 20px;
    text-align: center;
}
form{
    background: rgb(202, 157, 204);
    align-content: center;
    /* width: 50%;
    height: 100%; */
    border-radius: 10px;
    border-width: 5px;
}

#ii{
    background-color: rgb(241, 236, 227);
    padding: 10px;
    margin: 10px;
    border-color:rebeccapurple;
    border-radius: 5px;
}

.subbtn{
    padding:10px;
    background:linear-gradient(90deg,rgba(210, 255, 10, 0.877),rgb(0, 255, 55));
    border-radius: 20px;
    font-weight: bolder;
    margin-top: 20px;
    font-size: 20px;
    
    letter-spacing:1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}